.backgroundMainImg {
  top: 0px;
  position: absolute;
  z-index: -1;
  right: 0px;
  opacity: 90%;
}
.main-menu {
  min-height: 670px;
}
.robo_gif {
  width: 30%;
  right: 17%;
  position: absolute;
}
.main-menu-div {
  display: flex;
  justify-content: space-between;
}
.main-nav {
  display: flex;
  gap: 10px;
}
.menuItems {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff;
}
.mainMenuDiv1 {
  font-size: 2.3em;
  font-weight: 500;
  top: 65px;
  position: relative;
  color: #0f5376;
  top: 65px;
}

.mainMenuDiv2 {
  position: relative;
  font-size: 3.3em;
  font-weight: 700;
  top: 65px;
  padding: 10px 0px;
  color: #0f5376;
}

.mainMenuDiv3 {
  font-size: 1.3em;
  top: 65px;
  position: relative;
  padding: 10px 0px;
  line-height: 34px;
  color: #0f5376;
}
.main-block-2 {
  top: 185px;
  position: relative;
}
.second-bg-image {
  position: absolute;
  z-index: -1;
  width: -webkit-fill-available;
  height: 750px;
}

.mainBlock2 {
  /* background-color: #0f5376; */
  /* min-height: 200px; */
  /* background-image: url('../Images/home/Union.png'); */
  /* background-size: cover; */
  /* top: 185px; */
  /* position: relative; */
  /* Add any other styles you need for main-block-2 */
}
.block-div {
  display: flex;
  justify-content: space-evenly;
  top: 85px;
  position: relative;
}
.backgrdImg2 {
  height: 750px;
  z-index: -1;
}
.mainDivBlock {
  display: flex;
  padding: 125px 0px 40px 100px;
  justify-content: space-between;
  align-items: center;
}
.mainAboutUsBlock {
  width: 80%;
  background-color: #574eee;
  padding: 1%;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  float: right;
}
.mainWidth {
  width: 100%;
}
.mainWidthText {
  width: 100%;
  /* left: 80px; */
  /* position: relative; */
}
.sub-block-main-2 {
  /* background-color: red; */
  width: 50%;
  padding-left: 3%;
  padding-right: 15%;
}
.block-2-about {
    font-size: 2rem;
    font-weight: 600;
    color: yellow;
    /* line-height: 2em; */
}
.block-2-about-text {
    color: white;
    line-height: 2em;
    font-size: 0.9em;
}
.mainVisionDiv {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 20px;
}
.block-2-vision {
    font-size: 2rem;
    font-weight: 700;
    color: #0F5376;
}
.block-2-vision-text {
    line-height: 2em;
    font-size: 0.9rem;
    color: #444444;
}