.menu-button {
    position: absolute;
    top: 35px;
    left: 528px;
    width: 923px;
  }
  .narm-tech-logo-1 {
    position: absolute;
    top: 55px;
    left: 94px;
    width: 272px;
    height: 45px;
    object-fit: cover;
  }
  .cricle{
    position: absolute;
    top: -203px;
    left: 6px;
    width: 687.357px;
    height: 685.59px;
    border-radius: 687.357px;
    flex-shrink: 0;
    border: 1px solid rgba(227, 227, 227, 0.50);
  }
  .cricle1{
    position: absolute;
    top: -155px;
    left: 717px;
    width: 793.62px;
height: 791.579px;
flex-shrink: 0;
border-radius: 793.62px;
border: 1px solid rgba(227, 227, 227, 0.50);
  }
  .cricle2{
    position: absolute;
    top: -46px;
    left: 846px;
    width: 554.289px;
height: 552.864px;
flex-shrink: 0;
border-radius: 554.289px;
border: 1px solid rgba(227, 227, 227, 0.50);
  }
  .home {
    position: relative;
    font-weight: 600;
    white-space: pre-wrap;
  }
  .menu {
    position: absolute;
    top: 35px;
    left: 552px;
    border-radius: var(--br-20xl);
    background-color: var(--color-lightgray);
    width: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xl) var(--padding-33xl);
    box-sizing: border-box;
    cursor: pointer;
  }
  .offerings {
    position: relative;
    font-weight: 500;
  }
  .menu1 {
    position: absolute;
    top: 35px;
    left: 688px;
    border-radius: var(--br-20xl);
    background-color: var(--color-lightgray);
    width: 133px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xl) var(--padding-33xl);
    box-sizing: border-box;
    cursor: pointer;
  }
  .consulting {
    position: relative;
    font-weight: 500;
    white-space: pre-wrap;
  }
  .menu2,
  .menu3 {
    position: absolute;
    top: 35px;
    left: 841px;
    border-radius: var(--br-20xl);
    background-color: var(--color-lightgray);
    width: 145px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xl) var(--padding-33xl);
    box-sizing: border-box;
    cursor: pointer;
  }
  .menu3 {
    left: 1006px;
    width: 130px;
  }
  .our-team {
    position: relative;
    font-weight: 600;
  }
  .menu4 {
    position: absolute;
    top: 35px;
    left: 1156px;
    border-radius: var(--br-20xl);
    background-color: var(--color-lightgray);
    width: 131px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xl) var(--padding-33xl);
    box-sizing: border-box;
    cursor: pointer;
  }
  .contact-us1 {
    position: relative;
  }
  .menu5 {
    position: absolute;
    top: 35px;
    left: 1307px;
    border-radius: var(--br-20xl);
    font-weight: 600;
    background-color: var(--color-lightgray);
    width: 145px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xl) var(--padding-33xl);
    box-sizing: border-box;
  }
  .background-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 653.92px;
    height: 916px;
    object-fit: contain;
  }
  .background-icon1 {
    position: absolute;
    top: 171px;
    left: 159px;
    border-radius: var(--br-11xl);
    width: 571.71px;
    height: 575.62px;
    object-fit: cover;
  }
  .background-parent,
  .get-in-touch {
    position: absolute;
    top: 203px;
    left: -11px;
    width: 730.71px;
    height: 916px;
  }
  .get-in-touch {
    top: 38px;
    left: 0;
    line-height: 133.2%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 501px;
    height: 128px;
  }
  .get-in-touch-with-us-wrapper {
    position: absolute;
    top: 289px;
    left: 815px;
    width: 589px;
    height: 61px;
    font-size: var(--font-size-21xl);
    color: #0b3a55;
  }
  .if {
    text-transform: capitalize;
  }
  .you-have-a {
    text-transform: lowercase;
  }
  .if-you-have-a-question-or-any {
    margin: 0;
  }
  .if-you-have-container {
    position: absolute;
    top: 364px;
    left: 815px;
    font-size: var(--font-size-xl);
    line-height: 160%;
    font-weight: 500;
    color: #4e4e4e;
    display: inline-block;
    width: 536px;
    height: 64px;
  }
  .contact-us-child {
    position: absolute;
    top: 455px;
    left: 819px;
    border-radius: var(--br-11xl);
    background-color: #f1f1f1;
    width: 543px;
    height: 479px;
  }

  .your-number {
    position: absolute;
    top: 20px;
    left: 6px;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro);
    width: 466px;
    height: 67px;
  }
  .rectangle-group,
  .rectangle-parent {
    position: absolute;
    top: 575px;
    left: 850px;
    width: 466px;
    height: 67px;
    font-size: var(--font-size-xl);
    color: var(--color-gray-100);
  }
  .rectangle-group {
    top: 472px;
  }
  .your-email-address {
    position: absolute;
    top: 12px;
    left: 6px;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro);
    width: 466px;
    height: 67px;
  }
  .rectangle-container {
    position: absolute;
    top: 678px;
    left: 850px;
    width: 466px;
    height: 67px;
    font-size: var(--font-size-xl);
    color: var(--color-gray-100);
  }
 
  .your-message {
    position: absolute;
    top: 17px;
    left: 6px;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    border-radius: var(--br-xl);
    background-color: var(--color-gainsboro);
    width: 466px;
    height: 114px;
  }
  .group-div {
    position: absolute;
    top: 781px;
    left: 850px;
    width: 466px;
    height: 132px;
    font-size: var(--font-size-xl);
    color: var(--color-gray-100);
  }
  .instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-tomato);
  }
  .contact-us-inner,
  .send {
    position: absolute;
    top: 982px;
    left: 819px;
    width: 215px;
    height: 51px;
  }
  .send {
    top: 989px;
    left: 856px;
    font-size: var(--font-size-xl);
    line-height: 160%;
    text-transform: capitalize;
    display: inline-block;
    color: var(--color-white);
    text-align: center;
    width: 141px;
    height: 21px;
    cursor: pointer;
  }
  .background-icon2 {
    position: absolute;
    top: 0;
    left: 30px;
    width: 1233px;
    height: 362px;
    object-fit: contain;
  }
  .contact-us2 {
    position: absolute;
    top: 0;
    left: 351px;
    font-size: var(--font-size-21xl);
    line-height: 160%;
    font-weight: 600;
    color: #fff500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 44px;
  }
  .group-icon {
    position: absolute;
    top: 0;
    left: 934px;
    width: 60px;
    height: 57.28px;
  }
  .isolation-mode-icon,
  .layer-1-icon {
    position: absolute;
    top: 30.74px;
    left: 541px;
    width: 62px;
    height: 62.21px;
    overflow: hidden;
  }
  .isolation-mode-icon {
    top: 8.13px;
    left: 154px;
    width: 50px;
    height: 67px;
  }
  .frame-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-parent {
    position: absolute;
    top: 170.13px;
    left: 133px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }
  .infonarmtechcom-hrnarmtech,
  .rd-main-virgo-container,
  .sales-and-services-91-container {
    position: absolute;
    top: 82.13px;
    left: 0;
    line-height: 160%;
    font-weight: 600;
    display: inline-block;
    width: 357px;
    height: 67px;
    mix-blend-mode: normal;
  }
  .infonarmtechcom-hrnarmtech,
  .sales-and-services-91-container {
    top: 105.13px;
    left: 393px;
  }
  .sales-and-services-91-container {
    top: 82.13px;
    left: 786px;
  }
  .group-container {
    position: absolute;
    top: 23.87px;
    left: 0;
    width: 1143px;
    height: 174.13px;
  }
  .copyright-2023- {
    position: absolute;
    top: 255px;
    left: 20px;
    line-height: 160%;
    display: inline-block;
    width: 242px;
  }
  .privacy-policy {
    position: relative;
    line-height: 160%;
  }
  .privacy-policy-parent {
    position: absolute;
    top: 255px;
    left: 887px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;
  }
  .contact-us-parent,
  .line-div {
    position: absolute;
    top: 30px;
    left: 63px;
    width: 1167px;
    height: 281px;
  }
  .line-div {
    top: 266px;
    left: -3px;
    border-top: 3px solid var(--color-white);
    box-sizing: border-box;
    width: 1299px;
    height: 6px;
  }
  .background-group {
    position: absolute;
    top: 48px;
    left: 0;
    width: 1293px;
    height: 362px;
  }
  .group-child1,
  .group-parent {
    position: absolute;
    top: 0;
    left: 47px;
    width: 1505.39px;
    height: 838px;
  }
  .group-parent {
    top: 1097px;
    left: 110px;
    width: 1552.39px;
    text-align: center;
    font-size: var(--body-regular-size);
    color: var(--white-white-stich);
    font-family: var(--body-regular);
  }
  .contact-us-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 1505.39px;
    height: 838px;
  }
  .contact-us {
    position: relative;
    height: 1477px;
    overflow: hidden;
    font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  justify-content: center;
    font-family: var(--font-open-sans);
  }
  .cricle3{
    position: absolute;
    top: -52px;
    left: 51px;
    width: 687.357px;
height: 685.59px;
flex-shrink: 0;
border-radius: 687.357px;
border: 1px solid rgba(227, 227, 227, 0.50);
  }
  .cricle4{
    position: absolute;
    top: 0px;
    left:  789px;
    width: 793.62px;
    height: 791.579px;
    flex-shrink: 0;
    border-radius: 793.62px;
    border: 1px solid rgba(227, 227, 227, 0.50);
  }
  .cricle5{
    position: absolute;
    top:77px;
    left: 912px;
    width: 554.289px;
    height: 552.864px;
    flex-shrink: 0;
    border-radius: 554.289px;
    border: 1px solid rgba(227, 227, 227, 0.50);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 73px;
  }
  .menu a,
.menu1 a,
.menu2 a,
.menu3 a,
.menu4 a,
.menu5 a {
  text-decoration: none;
}
  @media screen and (max-width: 768px) {
    .narm-tech-logo-1 {
      position: absolute;
      top: 34px;
      left: calc(50% - 74px);
      width: 148px;
      height: 24px;
      object-fit: cover;
    }
    .background-icon,
    .background-icon1 {
        display: none;
    }
    .get-in-touch-with-us-wrapper {
        position: absolute;
        top: 86px;
        left: calc(50% - 137px);
        width: 589px;
        height: 61px;
        font-size: 25px;
        color: #0b3a55;
    }
    .get-in-touch {
        top: 38px;
        left: 0;
        line-height: 133.2%;
        text-transform: capitalize;
        font-weight: 600;
        width: 320px;
        height: 54px;
    }
    .if-you-have-container {
        position: absolute;
        top: 142px;
        left: calc(50% - 166px);
        font-size: 15px;
        line-height: 160%;
        font-weight: 500;
        color: #4e4e4e;
        display: inline-block;
        width: 363px;
        height: 64px;
    }
    .contact-us-child {
        position: absolute;
        top:  221px;
        left: calc(50% - 182px);
        width: 365px;
        height: 479px;
    }
    .rectangle-group {
        position: absolute;
        top: 225px;
        left: calc(50% - 182px);
        width: 325px;
        height: 67px;
    }
    .your-number {
        width: 340px;
    }
    .rectangle-parent {
        position: absolute;
        top: 320px;
        left: calc(50% - 182px);
        width: 325px;
        height: 67px;
    }
    .rectangle-container {
        position: absolute;
        top: 420px;
        left: calc(50% - 182px);
        width: 466px;
        height: 67px;
    }
    .your-message,
    .your-email-address {
        width: 340px;
    }
    .group-div {
        position: absolute;
        top: 520px;
        left: calc(50% - 182px);
        width: 466px;
        height: 132px;
    }
    .contact-us-inner, .send {
        position: absolute;
        top: 722px;
        left: calc(50% - 93px);
        width: 164px;
        height: 37px;
    }
    .fotter {
        position: absolute;
        top: -294px;
        left: calc(50% - 871px);
        width: 355px;
        height: 674px;
        background-color: rgb(72, 109, 255);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
      .contact-us2 {
        position: absolute;
        top: -357px;
        left: calc(50% - 792px);
        font-size: 20px;
        line-height: 160%;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 44px;
      }
      .isolation-mode-icon {
        top: -319.87px;
        left: calc(50% - 567px);
        width: 40px;
        height: 45px;
      }
      .rd-main-virgo-container {
        position: absolute;
        top: -280.87px;
        left: calc(50% - 731px);
        line-height: 160%;
        font-weight: 600;
        display: inline-block;
        width: 353px;
        font-size: 15px;
        height: 51px;
        mix-blend-mode: normal;
      }
      .frame-parent {
        position: absolute;
        top: -187.87px;
        left: calc(50% - 599px);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
      }
      .layer-1-icon {
        position: absolute;
        top: -127.26px;
        left: calc(50% - 568px);
        width: 40px;
        height: 45px;
        overflow: hidden;
      }
      .infonarmtechcom-hrnarmtech {
        position: absolute;
        top: -79.87px;
        left: calc(50% - 728px);
        line-height: 160%;
        font-weight: 600;
        font-size: 15px;
        display: inline-block;
        width: 357px;
        height: 67px;
        mix-blend-mode: normal;
      }
      .group-icon {
        position: absolute;
        top: 30.87px;
        left: calc(50% - 568px);
        width: 35px;
        height: 40px;
      }
      .sales-and-services-91-container {
        top: 80.87px;
        left: calc(50% - 729px);
        font-size: 15px;
      }
      .copyright-2023- {
        position: absolute;
        top: 268px;
        left: calc(50% - 783px);
        line-height: 160%;
        display: inline-block;
        font-size: 10px;
        width: 242px;
      }
      .privacy-policy-parent {
        position: absolute;
        top: 268px;
        left: calc(50% - 555px);
        display: flex;
        font-size: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
      }
      .line-div {
        top: 266px;
    left: calc(50% - 747px);
        border-top: 3px solid var(--color-white);
        box-sizing: border-box;
        width: 399px;
        height: 6px;
    }
    .cricle,
     .background-icon7{
        display: none;
     }
     .menu5{
        position: absolute;
        top: 25px;
            left: calc(50% + 92px);
            width: 85px;
        padding: 10px;
      
        }
        .our-team   {
          font-size: 12px;
      }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            top: 48px;
          }
        
          .dropdown-content div {
            color: black;
            padding: 12px 16px;
            display: block;
            text-decoration: none;
          }
        
          .dropdown-content a:hover {
            background-color: #f1f1f1;
          }
        
          .menu:hover .dropdown-content,
          .menu2:hover .dropdown-content,
          .menu3:hover .dropdown-content,
          .menu4:hover .dropdown-content,
          .menu5:hover .dropdown-content,
          .menu1:hover .dropdown-content {
            display: block;
          }
}