:root{

    --body-regular: Inter;
--font-open-sans: "Open Sans";


--body-regular-size: 16px;
--font-size-21xl: 40px;
--font-size-5xl: 24px;
--font-size-lg: 18px;
--font-size-11xl: 30px;


--color-white: #fff;
--white-white-stich: #fefffd;
--color-gray-100: #242331;
--color-gainsboro: #d9d9d9;
--color-darkslategray: #444;
--color-lightgray: rgba(205, 205, 205, 0.1);
--color-darkgray: rgba(179, 179, 179, 0.1);
--color-mediumslateblue: #9d64fd;


--gap-lgi: 19px;
--gap-base: 16px;
--gap-xl: 20px;
--gap-47xl: 66px;
--gap-14xl: 33px;
--gap-7xl: 26px;


--padding-16xl: 35px;
--padding-11xl: 30px;
--padding-xl: 20px;
--padding-5xl: 24px;
--padding-12xl: 31px;
--padding-3xl: 22px;
--padding-7xl: 26px;


--br-3xs: 10px;
--br-20xl: 49px;

}
:root {
  /* fonts */
  --Ourteam-font-open-sans: "Open Sans";
  --Ourteam-body-regular: Inter;
  --Ourteam-font-jost: Jost;
  --Ourteam-font-nunito: Nunito;

  /* font sizes */
  --Ourteam-body-regular-size: 15px;
  --Ourteam-font-size-6xl: 25px;
  --Ourteam-font-size-11xl: 30px;
  --Ourteam-font-size-lg: 18px;
  --Ourteam-font-size-21xl: 39px;
  --Ourteam-font-size-xl: 20px;
  --Ourteam-font-size-31xl: 47px;;
  --Ourteam-font-size-3xs: 10px;
  --Ourteam-font-size-6xs: 7px;

  /* Colors */
  --Ourteam-color-white: #fff;
  --Ourteam-color-blueviolet-100: #815aff;
  --Ourteam-color-blueviolet-200: rgba(104, 80, 255, 0.2);
  --Ourteam-color-darkslategray-100: #454545;
  --Ourteam-color-darkslategray-200: #444;
  --Ourteam-color-darkslategray-300: #303030;
  --Ourteam-color-steelblue: #0f5376;
  --Ourteam-color-yellow: #fff500;
  --Ourteam-color-gainsboro: #e3e3e3;
  --Ourteam-color-black: #000;
  --Ourteam-color-royalblue: #6f82fe;
  --Ourteam-white-white-stich: #fffffd;
  --Ourteam-color-gray-100: #fffefe;
  --Ourteam-color-gray-200: #797979;
  --Ourteam-color-gray-300: #242331;
  --Ourteam-color-gray-400: rgba(255, 255, 255, 0.1);
  --Ourteam-color-tomato-100: #f25822;
  --Ourteam-color-tomato-200: #fc4e2b;
  --Ourteam-ff-saas: #5236ff;
  --Ourteam-color-whitesmoke: #eee;
  --Ourteam-color-dimgray: #4e4e4e;

  /* --Ourteam-color-lightgray: rgba(204, 204, 204, 0.1); */
  --Ourteam-color-mediumslateblue: #9d64fd;
  --Ourteam-color-gray-100:#fffefe;;
  --Ourteam-color-gainsboro-100: #d9d9d9;
  --Ourteam-color-gainsboro-200: rgba(227, 227, 227, 0.5);
  --Ourteam-color-tomato: #fc4e2b;
  --Ourteam-color-darkslategray: #444;

  /* Gaps */
  --Ourteam-gap-12xs: 1px;
  --Ourteam-gap-8xs: 5px;
  --Ourteam-gap-3xl: 22px;

  /* Paddings */
  --Ourteam-padding-5xl: 24px;
  --Ourteam-padding-33xl: 23px;

  /* Border radiuses */
  --Ourteam-br-11xl: 30px;
  --Ourteam-br-40xl: 59px;
  --Ourteam-br-3xs: 10px;
  --Ourteam-br-xl: 20px;
  --Ourteam-br-20xl: 39px;
  --Ourteam-br-11xs-7: 1.7px;
  --Ourteam-br-8xs: 5px;
  --Ourteam-br-9xs: 4px;


  /* New style */
  /* fonts */
  --Ourteam-font-open-sans: "Open Sans";
  --Ourteam-body-regular: Inter;

  /* font sizes */
  /* --Ourteam-font-size-lg: 18px;
  --Ourteam-body-regular-size: 16px;
  --Ourteam-font-size-31xl: 50px; */

  /* Colors */
  

  /* Paddings */
  --Ourteam-padding-5xl: 24px;
  --Ourteam-padding-33xl: 22px;
  --Ourteam-padding-2xl: 21px;

  /* Border radiuses */
  --Ourteam-br-20xl: 39px;
  --Ourteam-br-xl: 20px;
  --Ourteam-br-31xl: 50px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ourteam-narm{
  position: relative;
  background-color: var(--Ourteam-color-white);
  width: 100%;
  height: 1657px;
  overflow: hidden;
  text-align: left;
  font-size: var(--Ourteam-font-size-lg);
  color: var(--Ourteam-color-white);
  font-family: var(--Ourteam-font-open-sans);
  box-sizing: border-box;
}
.navbar{
    height: 150px;
    width: 100%;
     display: flex;
     flex-direction: row;
     
}
.ourteam-logo{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 8px;
    box-sizing: border-box;
    margin-left: 70px;
    margin-top: 40px;
}
.narm-tech-logo{
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 45px;
    flex-shrink: 0;
    object-fit: cover;
    
}
.Navbar-items{
    display: flex;
    display: inline-flex;
    text-decoration: none;
    height: 150px;
    width: 85% ;
   
  
}
.home {
    flex: 1;
    position: relative;
    font-weight: 600;
    white-space: pre-wrap;
    flex-shrink: 0;
  }
  .menu {
    border-radius: var(--br-20xl);
    background-color: rgb(243, 246, 248);
    width: 116px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding: var(--padding-5xl) 28px var(--padding-5xl) var(--padding-12xl);
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
    margin-right: 20px;
    

  }

  .menu1 {
    cursor: pointer;
    border: 0;
    font-size: 20px;
    padding: var(--padding-5xl);
    background-color: rgb(243, 246, 248);
    border-radius: var(--br-20xl);
    width: 133px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;
  }
  .menu1:hover,
  .menu4:hover,
  .menu5:hover {
    background-color: var(--color-darkgray);
  }

 
  .menu2 {
    flex: 1;
    border-radius: var(--br-20xl);
    background-color: rgb(243, 246, 248);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xl) var(--padding-3xl) var(--padding-5xl)
      var(--padding-7xl);
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
  }
  .menu3 {
    border-radius: var(--br-20xl);
    background-color: rgb(243, 246, 248);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xl) var(--padding-3xl) var(--padding-5xl)
      var(--padding-7xl);
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
  }
 
  .menu4 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) 18px var(--padding-5xl) var(--padding-3xl);
    background-color: rgb(243, 246, 248);
    border-radius: var(--br-20xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
    font-size: 20px;

  }
  .menu5 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) var(--padding-3xl) var(--padding-5xl)
    var(--padding-7xl);
    background-color: rgb(243, 246, 248);
    flex: 1;
    border-radius: var(--br-20xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    z-index: 1;
    font-size: 20px;
  }
  .Team {
    top: 185px;
    left: -191px;
    width: 1833px;
    height: 1094px;
    text-align: center;
    font-size: var(--Ourteam-font-size-21xl);
    color: var(--Ourteam-color-yellow);
}
.ram, .ram-child, .Team {
    position: absolute;
}
.Ourteamcricle10 {
  position: absolute;
  top: 72px;
  left: 0;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle11 {
  position: absolute;
  top: 0px;
  left: 400px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle12 {
  position: absolute;
  top: 52px;
  left: 682px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle13 {
  position: absolute;
  top: 10px;
  left: 1010px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle14 {
  position: absolute;
  top: 65px;
  left: 1285px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle15 {
  position: absolute;
  top: 409px;
  left: 6px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle16 {
  position: absolute;
  top: 472px;
  left: 311px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle17 {
  position: absolute;
  top: 541px;
  left: 540px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle18 {
  position: absolute;
  top: 527px;
  left: 885px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Ourteamcricle19 {
  position: absolute;
  top: 490px;
  left: 1267px;
  width: 554.289px;
  height: 552.864px;
  border-radius: 50%;
  background-color: #684fff;
}
.Our-team2 {
  top: 63px;
  left: calc(50% - 201.5px);
}
.advisory-team {
  top: 399px;
  left: 711px;
  font-size: var(--Ourteam-font-size-11xl);
}
.advisory-team, .Our-team2 {
  position: absolute;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403px;
  height: 140px;
}
.Ram-m-reddy-container {
    top: 203px;
    left: 682px;
    font-size: var(--Ourteam-body-regular-size);
    line-height: 30px;
    color: var(--Ourteam-color-white);
    text-align: left;
    width: 837px;
    height: 224px;
}
.Ourteam-rectangle-parent {
  position: absolute;
  top: 656px;
  left: 107px;
  width: 1496px;
  height: 522px;
  font-size: var(--Ourteam-body-regular-size);
  color: var(--Ourteam-color-black);
}
.Ourteam-rectangle-group {
  top: 712px;
  position: absolute;
  left: 536px;
  width: 354px;
  height: 416px;
  color: var(--Ourteam-color-black);
}
.Ourteam-research-associate-ai-container1{
  position: absolute;
  top: 42px;
  left: 47px;
  line-height: 36px;
  display: inline-block;
  width: 270px;
}
.Author2 {
  position: absolute;
  top: 324px;
  left: 47px;
  width: 260px;
  height: 58px;
  font-size: 17px;
  color: var(--Ourteam-color-white);
}
.Author1, .ourteam-rectangle-group {
  position: absolute;
  top: 324px;
  left: 47px;
  width: 270px;
  height: 58px;
  color: var(--Ourteam-color-white);
}

.Ourteam-rectangle-container {
  position: absolute;
  top: 712px;
  left: 965px;
  width: 354px;
  height: 416px;
  font-size: var(--Ourteam-body-regular-size);
  color: var(--Ourteam-color-black);
}
.Ourteam-line-div {
  top: 3352.5px;
  left: 460.5px;
  border-right: 1px solid var(--Ourteam-color-white);
  width: 1px;
  height: 215px;
}
.Ourteam-line-div, .Ourteampattern4, .Ourteampattern5 {
  position: absolute;
  box-sizing: border-box;
}
.Ourteampattern4, .Ourteampattern5 {
  top: 3045px;
  left: -398px;
  border-radius: 50%;
  border: 1px solid var(--Ourteam-color-gainsboro);
  width: 523px;
  height: 522px;
}
.Ourteam-line-div, .Ourteampattern4, .Ourteampattern5 {
  position: absolute;
  box-sizing: border-box;
}
.Ourteampattern5 {
  top: 3124px;
  left: -319px;
  width: 365px;
  height: 364px;
}
.Ourteam-group-inner {
  position: absolute;
  top: 75px;
  left: 0;
  border-radius: var(--Ourteam-br-xl);
  background-color: var(--Ourteam-color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 354px;
  height: 350px;
}
.Ourteam-group-child1 {
  position: absolute;
  top: 316px;
  left: 37px;
  border-radius: var(--Ourteam-br-3xs);
  background-color: #6c6cff;
  width: 280px;
  height: 81px;
}
.Program-manager-tata-container {
  position: absolute;
  top: 117px;
  left: 47px;
  line-height: 36px;
  display: inline-block;
  width: 270px;
}
.Author {
  top: 329px;
  left: 47px;
  width: 270px;
  font-size: var(--Ourteam-font-size-lg);
  color: var(--Ourteam-color-white);
}
.Author, .author-child {
  position: absolute;
  height: 58px;
}
.ceo-narmtech, .name1, .Ram-m-reddy-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.name2 {
  top: 3px;
  font-weight: 800;
  height: 22px;
}

.manager-narmtech, .name2 {
  position: absolute;
  left: 74px;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 196px;
}
.Ourteampattern2, .Ourteampattern3 {
  position: absolute;
  top: 0;
  left: 973px;
  border-radius: 50%;
  border: 1px solid var(--Ourteam-color-gainsboro);
  box-sizing: border-box;
  width: 523px;
  height: 522px;
}
.Ourteampattern3 {
  top: 79px;
  left: 1052px;
  width: 365px;
  height: 364px;
}
.Ourteam-group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--Ourteam-br-xl);
  background-color: var(--Ourteam-color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 354px;
  height: 416px;
}
.Ourteam-group-child3 {
  position: absolute;
  top: 311px;
  left: 37px;
  border-radius: var(--Ourteam-br-3xs);
  background-color: var(--Ourteam-color-royalblue);
  width: 280px;
  height: 81px;
}
.Ourteam-research-associate-ai-container {
  position: absolute;
  top: 42px;
  left: 47px;
  line-height: 36px;
  display: inline-block;
  width: 270px;
}
.Ourteam-line-div {
  top:393.5px;
  left: 460.5px;
  border-right: 1px solid var(--Ourteam-color-white);
  width: 1px;
  height: 215px;
}
.Ourteam-line-div, .Ourteampattern4, .Ourteampattern5 {
  position: absolute;
  box-sizing: border-box;
}
.Ourteampattern4, .Ourteampattern5 {
  top: 3045px;
  left: -398px;
  border-radius: 50%;
  border: 1px solid var(--Ourteam-color-gainsboro);
  width: 523px;
  height: 522px;
}
.Author1, .ourteam-rectangle-group {
  position: absolute;
  top: 324px;
  left: 47px;
  width: 270px;
  height: 58px;
  color: var(--Ourteam-color-white);
}
.Ourteam-background-parent {
  position: absolute;
  top: 1309px;
  left: 109px;
  width: 1293px;
  height: 362px;
  cursor: pointer;
  text-align: center;
  font-size: var(--Ourteam-body-regular-size);
  color: var(--Ourteam-white-white-stich);
  font-family: var(--Ourteam-body-regular);
}
.Ourteambackground-icon1 {
  position: absolute;
  top: 0;
  left: 30px;
  width: 1233px;
  height: 362px;
  object-fit: contain;
}
.Ourteam-contact-us-parent, .Ourteam-group-item {
  position: absolute;
  top: 30px;
  left: 63px;
  width: 1167px;
  height: 281px;
}
.Ourteam-group-item{
  top: 266px;
  left: -3px;
  border-top: 3px solid var(--Ourteam-color-white);
  box-sizing: border-box;
  width: 1299px;
  height: 6px;
}
.Ourteam-contact-us1 {
  position: absolute;
  top: 0;
  left: 351px;
  font-size: var(--Ourteam-font-size-21xl);
  line-height: 160%;
  font-weight: 600;
  color: var(--Ourteam-color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 44px;
}
.Ourteam-group-parent {
  position: absolute;
  top: 47.87px;
  left: 0;
  width: 1143px;
  height: 174.13px;
}
.Ourteam-group-child {
  position: absolute;
  top: 0;
  left: 934px;
  width: 60px;
  height: 57.28px;
}
.Ourteam-isolation-mode-icon, .Ourteam-layer-1-icon1 {
  position: absolute;
  top: 30.74px;
  left: 541px;
  width: 62px;
  height: 62.21px;
  overflow: hidden;
}
.Ourteam-isolation-mode-icon {
  top: 8.13px;
  left: 154px;
  width: 50px;
  height: 67px;
}
.Ourteam-frame-parent {
  position: absolute;
  top: 150.13px;
  left: 133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.Ourteam-frame-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.Ourteam-infonarmtechcom-hrnarmtech, .Ourteam-rd-main-virgo-container, .Ourteam-sales-and-services-91-container {
  position: absolute;
  top: 82.13px;
  left: 0;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  width: 357px;
  height: 67px;
  mix-blend-mode: normal;
}
.Ourteam-infonarmtechcom-hrnarmtech, .Ourteam-sales-and-services-91-container {
 top: 105.13px;
  left: 393px;
}
.Ourteam-sales-and-services-91-container {
  top: 82.13px;
  left: 786px;
}
.Ourteam-copyright-2023- {
  position: absolute;
  top: 255px;
  left: 20px;
  line-height: 160%;
  display: inline-block;
  width: 242px;
}
.Ourteam-privacy-policy-parent {
  position: absolute;
  top: 255px;
  left: 887px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
}
.Ourteam-privacy-policy {
  position: relative;
  line-height: 160%;
}
  .about-us-1 {
    position: absolute;
    text-transform: capitalize;
    top: 564px;
  }